
@font-face {
	font-family: 'Franklin-Gothic-Book-Regular';
	src: url("../fonts/fontawesome-webfont.eot");
	src: url("../fonts/fontawesome-webfont.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}